<header>
  <%= link_to root_path do %>
    <h1>
      <ion-icon src="<%= image_path 'logo.svg' %>"></ion-icon>
      Jackbattle
    </h1>
  <% end %>

  <div class="tools">
    <% if signed_in? %>
      <%= current_user.username %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>
  </div>
</header>

<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>