<!DOCTYPE html>
<html>
<head>
  <title>Jackbattle</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<%= render HeaderComponent.new %>
<main>
  <%= yield %>
</main>
</body>
</html>
